<div class="row">
    <div class="card">
        <div class="card-header text-danger">
            <h5>Internal server error - refreshing the page will make the error disappear!</h5>
        </div>
        <ng-container *ngIf="error">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-primary">
                    <h6>Error: {{error.message}}</h6>
                </li>
                <li class="list-group-item">Note: if you are seeing this then Angular is probably not to blame.</li>
            </ul>
            <div class="card-body">
                <p>What to do next?</p>
                <ol>
                    <li>Open the chrome dev tools</li>
                    <li>Inspect the network tab</li>
                    <li>Check the failing request</li>
                    <li>Examine the request URL - make sure it is correct</li>
                    <li>Reproduce the error in Postman - if we see the same response, then the issue is not with
                        Angular.</li>
                </ol>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Following the stack trace - this is where your investigation should start!
                </li>
            </ul>
            <div class="card-body">
                <code class="mt-5" style="background-color: whitesmoke;">{{error.detail}}</code>
            </div>
        </ng-container>
    </div>
</div>